<div class="home-container">
  <h1>Ajánlott videók</h1>
  <div class="home-content">
    @for (item of videos; track $index) {
      <div class="video-card" (click)="onVideoClick(item._id)">
        <img [src]="item.thumbnailUrl" alt="Thumbnail" class="video-thumbnail" />
        <div class="video-info">
          <h2 class="video-title">{{ item.cim }}</h2>
          <p class="video-description">{{ item.leiras }}</p>
          <p class="video-views">{{ item.megtekintesekSzama }} megtekintés</p>
        </div>
      </div>
    }
  </div>
</div>
