.toolbar-container {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    background-color: var(--background-light);
}

.app-toolbar {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: var(--text-primary);
    height: 64px;
    border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border: 0px solid #000000;
  background-color: var(--background-light);
    a {
        color: var(--text-primary);
        &:hover {
            color: var(--accent-color);
        }
    }
}

.app-title {
    font-size: 24px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: black;
}

.app-sidenav {
    width: 150px;
    background-color: var(--background-light);
    color: var(--text-primary);

    ::ng-deep {
        .mat-mdc-list-item {
            color: var(--text-primary) !important;
        }
    }
}

.menu-button {
    background-color: var(--primary-color);
    color: var(--text-primary);
}
