.toolbar-container {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    background-color: var(--background-light);
    align-items: center;
    padding: 0 16px;
}

.app-toolbar {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    
    color: var(--text-primary);
    height: 64px;
    border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border: 0px solid #000000;
  background-color: var(--background-light);
    a {
        color: var(--text-primary);
        &:hover {
            color: var(--accent-color);
        }
    }
}

.app-title {
    font-size: 24px;
    font-weight: bold;
    a {
        color: var(--text-primary);
        text-decoration: none;
        font-size: 20px;
        font-weight: 500;

        &:hover {
            color: var(--accent-color);
        }
    }
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: black;
}

.app-sidenav {
    width: 250px;
    background-color: var(--background-light);
    color: var(--text-primary);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;

    &.mat-drawer-opened {
        transform: translateX(0);
    }

    &:not(.mat-drawer-opened) {
        transform: translateX(-100%);
    }

    ::ng-deep {
        .mat-mdc-list-item {
            color: var(--text-primary) !important;
        }
    }
}

.menu-button {
    background-color: var(--primary-color);
    color: var(--text-primary);
    transition: transform 0.3s ease;

    &:hover {
        background-color: var(--accent-color);
    }
}

mat-sidenav-container {
    height: 100vh;
}
